.searchWrapper {
  position: absolute;
  top: 0rem;
  z-index: 401;
  transform: scale(0.75);
  transform-origin: top left;
  font-family: "Amsterdam Sans", sans-serif;
  border: 1px solid #ccc;
}

.searchInput {
  font-size: 20px;
}

.dropdown {
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.1rem;
}

.dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #eee;
}
